#!/usr/bin/env bash
#---------------------------------------------------------------------------------------------------------------#
# if doesn't want to use conda, specify the path of the tools
af="alevin-fry"
salmon="salmon"
bustools="bustools"
star="STAR"
simpleaf="simpleaf"
time="/usr/bin/time"
# https://github.com/pachterlab/kallisto-D
kallistod='/mnt/scratch7/rob/splici_ambig/analysis_results/kb_result/kallisto-D-master/src/kallisto'

# git clone https://github.com/COMBINE-lab/empirical_splice_status.git && cd empirical_splice_status
# cargo build --release
empirical_splice_status="/mnt/scratch7/rob/splici_ambig/empirical_splice_status/target/release"
bbmap="/mnt/scratch7/rob/splici_ambig/bbmap"
kb="kb"

# piscem
# git clone https://github.com/COMBINE-lab/piscem.git && cd piscem
# cargo build --release
piscem="/mnt/scratch7/rob/splici_ambig/piscem/target/release/piscem"

# HSHMP github repo: 
# git clone https://github.com/pachterlab/HSHMP_2022.git && cd HSHMP_2022 && git checkout 03456b623f5c2bb12212b4745e3523cbba57b44c
HSHMP_2022="/mnt/scratch7/rob/splici_ambig/HSHMP_2022"

# get the script directory
# the scripts in this directory
# script_dir=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )
# script_dir="/mnt/scratch7/rob/splici_ambig/scripts"

#---------------------------------------------------------------------------------------------------------------#
# define variable and script dir
# define env variable
n_threads=30

root_dir="/mnt/scratch2/scrna_ambiguity"
mkdir -p $root_dir

# setup simpleaf
export ALEVIN_FRY_HOME="$root_dir/af_home"
mkdir -p $ALEVIN_FRY_HOME
$simpleaf set-paths

# define working dir for each experiment

starsim_root_dir="$root_dir/starsolo_simulation"
mkdir -p $starsim_root_dir

brain_root_dir="$root_dir/mouse_brain_nuclei"
mkdir -p $brain_root_dir

