#!/usr/bin/env bash
#---------------------------------------------------------------------------------------------------------------#
# setup root dir
root_dir="scrna_ambiguity"
mkdir -p $root_dir

#---------------------------------------------------------------------------------------------------------------#
# set the # of threads used for all tools
n_threads=16

#---------------------------------------------------------------------------------------------------------------#
# specify executables' paths
af="alevin-fry"
salmon="salmon"
star="STAR"
simpleaf="simpleaf" # version >= 0.8.1
time="/usr/bin/time"
kb="kb"
kallistod='kallisto-D/src/kallisto' # https://github.com/pachterlab/HSHMP_2022/tree/cfd6958be6ab65fc340bf1df5f1b0e77f19ff967
bustools="bustools" # https://github.com/BUStools/bustools/tree/89a8a5ddee4ec1c3bb95dfb42e13f2d2ba86e9a1

# git clone https://github.com/COMBINE-lab/empirical_splice_status.git && cd empirical_splice_status
# cargo build --release
empirical_splice_status="empirical_splice_status/target/release"

# https://github.com/BioInfoTools/BBMap
bbmap="bbmap"

# piscem
# git clone https://github.com/COMBINE-lab/piscem.git && cd piscem
# cargo build --release
piscem="piscem/target/release/piscem"

# HSHMP github repo: 
# git clone https://github.com/pachterlab/HSHMP_2022.git && cd HSHMP_2022 && git checkout 03456b623f5c2bb12212b4745e3523cbba57b44c
HSHMP_2022="HSHMP_2022"

# get the script directory
# the scripts in this directory
# script_dir=$( cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd )

#---------------------------------------------------------------------------------------------------------------#
# setup simpleaf
export ALEVIN_FRY_HOME="$root_dir/af_home"
mkdir -p $ALEVIN_FRY_HOME
$simpleaf set-paths
