#!/usr/bin/env bash
#---------------------------------------------------------------------------------------------------------------#
# setup root dir
root_dir="scrna_ambiguity"
mkdir -p $root_dir

#---------------------------------------------------------------------------------------------------------------#
# set the # of threads used for all tools
n_threads=16

#---------------------------------------------------------------------------------------------------------------#
# conda pacakges' path
af="alevin-fry"
salmon="salmon"
star="STAR"
simpleaf="simpleaf" # version >= 0.8.1
time="/usr/bin/time"
kb="kb"

## stand alone packages' path

kallistod='kallisto-D/src/kallisto' 

bustools="bustools/build/src/bustools" 

# git clone https://github.com/COMBINE-lab/empirical_splice_status.git && cd empirical_splice_status
# cargo build --release
empirical_splice_status="empirical_splice_status/target/release"

# https://github.com/BioInfoTools/BBMap
bbmap="bbmap"

# piscem
# git clone https://github.com/COMBINE-lab/piscem.git && cd piscem
# cargo build --release
piscem="piscem/target/release/piscem"

# HSHMP github repo: 
# git clone https://github.com/pachterlab/HSHMP_2022.git && cd HSHMP_2022 && git checkout 03456b623f5c2bb12212b4745e3523cbba57b44c
HSHMP_2022="HSHMP_2022"

#---------------------------------------------------------------------------------------------------------------#
# setup simpleaf
export ALEVIN_FRY_HOME="$root_dir/af_home"
mkdir -p $ALEVIN_FRY_HOME
$simpleaf set-paths
